body {
    padding-top: 70px;
    background-color: #FFD89E;
}

.block {
    padding: 5px;
}

.content {
    background-color: #eee;
    box-shadow: 0 5px 8px #505050;
    padding: 1em;
}

#right {
    text-align: center;
}

.what {
    font-size: 16px;
    text-align: justify;
    padding: 1em;
}

.devlist {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.devlist li img {
    border-radius: 10%;
}

.devlist li {
    overflow: hidden;
}

.devlist li img:hover {
    filter: sepia(90%);
    cursor: pointer;
}

.devlist li img {
    width: 200px;
    height: 200px;
    transition: all 0.5s ease-out;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}